<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet"href="/css/styles.css"> 
        <script src="/js/app.js"></script>
    </head>
    <body>
         <div class="main-content">
            {{>header}}
            <p>This site is created by Kangkana Baruah. It uses data from mapbox.com and weatherstack.com</p>
            <img class="portrait" src="/image/kangkana.jpeg">
         </div>
        
        {{>footer}}
    </body>
</html>